@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --bgColor: hsl(212, 45%, 89%);
    --cardColor: hsl(0, 0%, 100%);
    --cardTitleText: hsl(218, 44%, 22%);
    --cardBodyText: hsl(220, 15%, 55%);
    --QRCodeBackgroundColor: hsl(216, 95%, 58%);
}


* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: var(--bgColor);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: var(--cardColor);
    height: 420px;
    width: 270px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .5);
}

.qrCode {
    position: relative;
    left: 10px;
    top: 10px;
    border-radius: 10px;
}

.title {
    padding: 1rem;
    text-align: center;
    font-weight: 700;
    font-size: large;
}

.body {
    font-size: 15px;
    margin: 1rem;
    text-align: center;
    font-weight: 400;
    color: var(--cardBodyText);
}

footer a {
    color: var(--QRCodeBackgroundColor);
}

footer .footer {
    position: absolute;
    bottom: 35px;
    left: 37%;
}

@media (max-width: 375px) {
    footer .footer {
        left: 3px;
    }
}

@media (max-width: 1920px) {
    .footer{
        left: 41%;
    }
}